################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Plugins/bin
/Plugins/obj
/**/*.xsd
/Plugins.Core.Tests/
/Plugins/ClassDiagram1.cd
/Plugins.Tests/bin
/Plugins.Tests/obj
/Plugins.Tests/Core
/Plugins.Tests/Helpers
