################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Plugins/bin
/Plugins/obj
/Plugins.Chr.Tests/bin
/Plugins.Chr.Tests/obj
/Plugins.Chr/bin
/Plugins.Chr/obj
/**/*.xsd
/Plugins.Console.Old
/Plugins.Console
/Plugins.Loading
