<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog.project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-Instance"
	  autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="C:\Users\grinm\Desktop\Logs\internal.txt">
	<targets>
		<target xsi:type="File" name="allfile" fileName="C:\Users\grinm\Desktop\Logs\plugins-all-${shortdate}.log"
				layout="${longdate}|${logger}|{uppercase:${level}}|${message} ${exception}" />
		<target xsi:type="File" name="ownfile" fileName="C:\Users\grinm\Desktop\Logs\plugins-own-${shortdate}.log"
				layout="${longdate}|${logger}|{uppercase:${level}}|${message} ${exception}" />
	</targets>
	<rules>
		<logger name="*" minLevel="Trace" writeTo="allfile" />
		<logger name="Microsoft.*" minLevel="Trace" final="true"/>
		<logger name="*" minLevel="Trace" writeTo="ownfile" />
	</rules>
</nlog>